      <%= month_calendar do |date| %>
        <%= link_to time_show_chat_path(@partner.id,date),class:"date-one" do %>

          <% @chats.each do |chat|%>
 

                <% if chat.created_at.day == date.day %>
                  <% if chat.created_at.day.count > 1 %>
                    <div class="calender-one"><%= date.day %></div>
                  <% else %>
                    <div><%= date.day %></div>
                  <% end %>

               <% end %>


          <% end %>

        <% end %>
      <% end %>


        received: function(data) {
    //画面を開いているのがチャット送信者だった場合
    if (data["isCurrent_user"]==true){
      $('#chats').append(`<div class='mycomment'><p>${data["sentence"]}</p></div>`);
      $("#chats").scrollTop( $("#chats")[0].scrollHeight );
    }
    //画面を開いているのがチャット受信者だった場合
    else{
      $('#chats').append(`<div class='fukidasi'> <div class="faceicon">
      <img src="/assets/images/user.png"></div>
      <div class='chatting'><div class='says'><p>${data["sentence"]}</p>
      </div></div></div>`);
      $("#chats").scrollTop( $("#chats")[0].scrollHeight );
    }
  },


    received: function(data) {
    return $('#messages').append(data['message']);
  },