.side-bar-index{
  background-color: rgb(80, 22, 22);
  background-size: cover;
  width: 40vw;
  height: 50vh;
  position: fixed;
  margin-bottom: 50vh;
  overflow: auto;
}



.side-bar-index2{
  background-color: rgb(209, 153, 79);
  background-size: cover;
  margin-top: 50vh;
  width: 40vw;
  height: 50vh;
  position: fixed;
  overflow: auto;
}

.side-bar-index h2{
  text-align: center;
  font-size: 2vw;
  color: white;
  margin-top: 2vh;
}

.side-bar-index2 h2{
  text-align: center;
  font-size: 2vw;
  color: white;
  margin-top: 2vh;
}

.side-login{
  display: flex;
  justify-content:flex-start;
  padding: 1vw;
  font-size: 2vw;
}

.side-login-one{
  color: white;
  margin-left: 2vw;
  transition: all .2s ease-in-out;
  font-size: 1.5vw;
}

.side-login-one:hover{
  opacity: 60%;
  transition: all .2s ease-in-out;
}

.talk-room{
  padding: 3vw;
  padding-top: 0.5vh;
  color: white;
  font-size: 2vw;
  
}

.talk-room li{
background-color: rgb(245, 208, 140);
}

.talk-room-one{
  margin-top: 1vh;
  padding: 1vh;
  padding-left: 2vw;
  color: rgb(87, 85, 85);
  background-color: rgb(248, 244, 244);
  transition: all .2s ease-in-out;
  }

  .talk-room-one:hover{
  opacity: 50%;
  transition: all .2s ease-in-out;
    }

  
  .container-index {
    height: 100vh;
    /*box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);*/
    background: url("https://i.gyazo.com/9e20aced883cd3551e6be3015f66bd02.png");
    background-size: cover;
    box-sizing: border-box;
    width: 65vw;
    padding: 8vh 0;
    margin-left: 40vw;
    align-items: center;
    color: white;
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
    overflow-x: hidden;
  }

  .container-index h2{
   font-size: 4vw;
   text-align: center;
  }

  .index-text{
    padding-top: 3vh;
    color: rgb(87, 85, 85);
    font-size: 1.7vw;
  }

.index-text li{
border-radius : 10px;
text-align: center;
padding: 1vw;
margin-bottom: 5vh;
}

.demo{
  width: 100%;
  height: 50vh;
}

.search-form {
  width: 85%;
  height: 5vh;
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 7vw;
  height: 5.5vh;
  border: 0;
  cursor: pointer;
  background-color: #deb887;
  padding: 0.5vw 0.5vh;
  border-radius : 10px;
  transition: all .2s ease-in-out;
}
.search-button:hover {
  background-color: #660000;
  transition: all .2s ease-in-out;
}

.search-icon {
  width: 40%;
}

.side-text-roomenter{
  padding: 3vw;
  padding-top: 3vh;
  padding-bottom: 1vh;
  color: white;
  font-size: 2vw;
}

.side-text-roomenter li{
text-align: center;
}

.roomenter-btn{
  background-color: rgb(91, 107, 248);
  color: white;
  margin-top: 3vh;
  border-radius : 10px;
  padding: 1.5vw;
  transition: all .2s ease-in-out;
}
.roomenter-btn:hover{
  background-color: white;
  color: rgb(91, 107, 248);
  transition: all .2s ease-in-out;
}

.index-help{
  font-size: 4vw;
}

.index-help-chat{
  background-color: rgb(80, 22, 22);
  border-radius : 10px;
  text-align: center;
  padding: 1vw;
  margin-bottom: 5vh;
  color: white;
}

.index-help-chat2{
  background-color: rgb(209, 153, 79);
  border-radius : 10px;
  text-align: center;
  padding: 1vw;
  margin-bottom: 5vh;
  color: white;
}

.index-help2{
  background-color: rgb(91, 107, 248);
  display: block;
  color: white;
}

.index-help-room{
  font-size: 4vw;
  padding-bottom: 3vh;
}

.roommake-btn{
  background-color: rgb(91, 107, 248);
  display: block;
  color: white;
  margin: 3vh;
  padding: 3vh;
  border-radius : 10px;
  transition: all .2s ease-in-out;
}

.roommake-btn:hover{
  color: rgb(91, 107, 248);
  background-color: white;
  transition: all .2s ease-in-out;
}